<ul class="cards">
  
<!-- products enabled start -->
  <li class="cards-item" *ngFor="let product of products">
    <div class="card">
      <div>
        <img src="{{ product.imageURL }}">
      </div>
      <div class="card-content">
        <table>
          <tr>
            <th class="title">
              <p class="card-title">{{ product.productName }}</p>
            </th>
            <th class="input">
              <input type="number" id="{{product.productName}}" value="1" min="1" max="20">
            </th>
          </tr>
        </table>
        <a (click)="addToCart(product)">Add to Cart</a>
      </div>
    </div>
  </li>
  <!-- products enabled end -->

  <!-- products disabled start -->
  <li class="cards-item" *ngFor="let product of productsDisabled">
    <div class="card">
      <div class="product-disabled">
        <img src="{{ product.imageURL }}">
      </div>
      <div class="card-content product-disabled">
        <table>
          <tr>
            <th class="title">
              <p class="card-title">{{ product.productName }}</p>
            </th>
            <th class="input">
              <input type="number" id="{{product.productName}}" value="0" min="0" max="0">
            </th>
          </tr>
        </table>
        <a>Sold out</a>
      </div>
    </div>
  </li>
  <!-- products disabled end -->

</ul>