#sushi-card {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#card-upper {
    height: 40px;
}

#card-title {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
}

#add-to-cart, #add-to-cart:focus {
    color: #FF1384;
    font-size: 0.75rem;
    font-weight: 600;
}

#add-to-cart:hover, #add-t0-cart:active {
    color: #FF66B2;
    text-decoration: none;
}
