.navbar {
  color: #474747;
  margin: 0.5rem 12% 0.2rem 12%;
}

.navbar-brand {
  margin-right: 3%;
}

input[type="text"],
.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #474747;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0px 10px 0px 10px;
}

input[type="text"]:focus,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

::placeholder {
  font-size: 0.8rem;
  color: #BEBEBE;
}

.navbar-options {
  font-size: 0.875rem;
  padding-left: 1.7rem;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.active {
  color: #FF1384;
  text-decoration: none;
}

@media screen and (max-width: 1435px) {
  .navbar-options {
    padding-left: 0.55rem;
    font-size: 90%;
  }
}

@media screen and (max-width: 1355px) {
  .navbar-options {
    padding-left: 0.35rem;
    font-size: 80%;
  }
}

@media screen and (max-width: 1285px) {
  .navbar-options {
    padding-left: 0.15rem;
    font-size: 80%;
  }
}

@media screen and (max-width: 1230px) {
  .navbar-options {
    padding-left: 0.1rem;
    font-size: 75%;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-options {
    font-size: 75%;
  }
}

@media screen and (max-width: 1199px) {
  .navbar-options {
    font-size: 100%;
    padding-left: 0rem;

  }

  .language-icon {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 583px) {
  input[type="text"],
  .form-control {
    width: 90%;
    margin: 0px;
  }

  .fa-search {
    display: none !important;
  }
}
