.navbar {
  color: #474747;
  margin: 0.5rem 12% 0.2rem 12%;
}


.navbar-brand {
  margin-right: 3%;
}

.navbar-options {
  font-size: 0.875rem;
  padding-left: 2rem;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.active {
  color: #FF1384;
  text-decoration: none;
}

@media screen and (max-width: 1225px) {
  .navbar-options {
    padding-left: 1.3rem;
  }
}

@media screen and (max-width: 1150px) {
  .navbar-options {
    padding-left: 0.8rem;
  }
}

@media screen and (max-width: 1096px) {
  .navbar-options {
    padding-left: 0.55rem;
    font-size: 80%;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    margin-left: 5%;
    margin-right: 5%;
  }

  .navbar-options {
    padding-left: 0rem;
  }
}

@media screen and (max-width: 810px) {
  .navbar-options {
    font-size: 70%;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-options {
    font-size: 85%;
  }

  .language-icon {
    padding-left: 6px;
    padding-right: 6px;
  }
}
