<ul class="nav justify-content-center menu-bar">
  <li class="nav-item"><a class="nav-link menu-category" href="#">All</a></li>
  <li class="nav-item"><a class="nav-link menu-category" href="#">Nigiri</a></li>
  <li class="nav-item"><a class="nav-link menu-category" href="#">Gunkan Maki</a></li>
  <li class="nav-item"><a class="nav-link menu-category" href="#">Sashimi</a></li>
  <li class="nav-item"><a class="nav-link menu-category" href="#">Temaki</a></li>
  <li class="nav-item"><a class="nav-link menu-category" href="#">Inarizushi</a></li>
</ul>
<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 col-xl-8">
    <app-menu-items></app-menu-items>
  </div>
</div>
