<div class="text-center">
  <h3>Your Shopping Cart</h3>
</div>
<div class="row justify-content-center order-details">

  <!-- left column start -->
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-5 order-details-column">
    <h4>Items</h4>
    <hr>
    <!-- card start -->
    <!-- availble items start -->
    <div *ngIf="cart.length == 0">
      <h5 class="empty-cart">
        Your shopping cart is empty.
      </h5>
    </div>

    <div >
      <div class="card my-4" style="max-height: auto; max-width: auto;" *ngFor="let item of cart">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="{{item.productDto.imageURL}}" class="card-img" alt="{{item.productDto.productName}}">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">
                {{item.productDto.productName}}
              </h5>
              <table>
                <tr class="card-text">
                  <td>Quantity:</td>
                  <td>
                    <select (change)="updateQuantity($event, item.productDto.productName)">
                      <option *ngFor="let n of getQuantityBounds(item.productDto, item.quantity)" value="{{n}}"
                      [selected]="n === item.quantity">{{n}}</option>
                    </select>
                  </td>
                </tr>
                <tr class="card-text">
                  <td>Subtotal:</td>
                  <td>{{calculateSubtotal(item.quantity) | currency: 'NTD': 'NT$ ': '1.0-0'}}</td>
                </tr>
                <tr><a (click)="deleteCartItem(item.productDto.productName)">Remove</a></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    <!-- availble items end -->
    <!-- unavailble items start -->
      <div *ngIf="cartUnavailable.length > 0">
        <h4>Unavailable Items</h4>
        <hr>
  
        <div class="card my-4" style="max-height: auto; max-width: auto;" *ngFor="let item of cartUnavailable">
          <div class="row no-gutters">
            <div class="col-md-5 card-disabled">
              <img src="{{item.productDto.imageURL}}" class="card-img" alt="{{item.productDto.productName}}">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title card-disabled">
                  {{item.productDto.productName}}
                </h5>
                <table>
                  <tr class="card-text card-disabled">
                    <td>Sold out</td>
                  </tr>
                  <tr><a (click)="deleteCartItem(item.productDto.productName)">Remove</a></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- unavailble items end -->

    </div>
    <!-- card end -->

  </div>
  <!-- left column end -->

  <!-- right column start -->
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-5 order-details-column">
    <h4>Order Summary</h4>
    <hr>

    <!-- order summary start -->
    <div id="cost-details">

      <table style="margin-top: 2.5rem;">
        <tr>
          <td>
            <p>Food:</p>
          </td>
          <td style="text-align: right;">
            <p>{{calculateTotalAmount() | currency: 'NTD': 'NT$ ': '1.0-0'}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Delivery Cost:</p>
          </td>
          <td style="text-align: right;">
            <p>{{deliveryCost | currency: 'NTD': 'NT$ ': '1.0-0'}}</p>
          </td>
        </tr>
      </table>

      <div class="row">
        <div class="col-md-9 col-sm-10">
          <hr id="costs-cal">
        </div>
      </div>

      <table>
        <tr id="total-cost">
          <td>
            <p>Total:</p>
          </td>
          <td style="text-align: right;">
            <p *ngIf="cart.length != 0">{{calculateTotal() | currency: 'NTD': 'NT$ ': '1.0-0'}}</p>
            <p *ngIf="cart.length == 0">Unavailable</p>
          </td>
        </tr>
      </table>

      <div class="row">
        <div class="col-md-9 col-sm-10 text-center">
          <button class="btn" (click)="checkout()" [disabled]="cart.length == 0">
            Proceed to Checkout
          </button>
        </div>
      </div>

    </div>
    <!-- order summary end -->

  </div>

  <!-- right column end -->
</div>
