<div class="text-center">
  <h3>Checkout</h3>
</div>
<div class="row justify-content-center checkout-details">

  <!-- left column start -->
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-5 checkout-column">
    <h4>Your Delivery Details</h4>
    <hr>

    <form [formGroup]="orderForm">

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" class="form-control" id="fullname" [formControlName]="'fullName'"
              placeholder="Full name" required>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="contact-number">Contact Number</label>
            <input type="text" class="form-control" id="contact-number" [formControlName]="'contactNumber'"
             placeholder="Contact number" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address"  [formControlName]="'address'"
         placeholder="Delivery address" required>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="district">District</label>
            <input type="text" class="form-control" id="district" [formControlName]="'district'"
             placeholder="District" required>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city"  [formControlName]="'city'"
            placeholder="Taipei City" required>
          </div>
        </div>
      </div>
    </form>

    <h4>Payment Method</h4>
    <hr>

    <p id="payment-method">Pay on Delivery</p>
    <p style="padding-left: 2.8rem">Pay in cash as you receive your food</p>

  </div>
  <!-- left column end -->

  <!-- right column start -->
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-5 checkout-column">
    <h4>Review Your Order</h4>
    <hr>
        <!-- order summary start -->
        <div id="cost-details">

          <table style="margin-top: 2.5rem;">
            <!-- sushi starts -->
            <tr *ngFor="let item of order.orderItemDtos">
              <td>
                <p class="sushi-item">{{item.productName}} x{{item.quantity}}</p>
              </td>
              <td style="text-align: right;">
                <p>{{calculateSubtotal(item.quantity) | currency: 'NTD': 'NT$ ': '1.0-0'}}</p>
              </td>
            </tr>
          </table>
            <!-- sushi ends -->

          <div class="row">
            <div class="col-md-9 col-sm-10">
              <hr id="costs-cal">
            </div>
          </div>

            <!-- cost summary starts -->
          <table>
            <tr>
              <td>
                <p>Food:</p>
              </td>
              <td style="text-align: right;">
                <p>{{foodCost() | currency: 'NTD': 'NT$ ': '1.0-0'}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Delivery Cost:</p>
              </td>
              <td style="text-align: right;">
                <p>{{deliveryCost | currency: 'NTD': 'NT$ ': '1.0-0'}}</p>
              </td>
            </tr>
          </table>
            <!-- cost summary ends -->

          <div class="row">
            <div class="col-md-9 col-sm-10">
              <hr id="costs-cal">
            </div>
          </div>
    
          <table>
            <tr id="total-cost">
              <td>
                <p>Total:</p>
              </td>
              <td style="text-align: right;">
                <p>{{calculateTotal() | currency: 'NTD': 'NT$ ': '1.0-0'}}</p>
              </td>
            </tr>
          </table>
    
          <div class="row">
            <div class="col-md-9 col-sm-10 text-center">
              <button type="button" (click)="onPlaceOrder()" [disabled]="!orderForm.valid" class="btn">
                Place Order
              </button>
            </div>
          </div>
    
        </div>
        <!-- order summary ends -->

  </div>

  <!-- right column end -->
</div>
