<div style="min-height: 500px;" *ngIf="!isAuthenticated()">

  <ul class="nav justify-content-center menu-bar">
    <li class="nav-item">
      <a class="nav-link menu-category" routerLink="/auth/user/login" routerLinkActive="active-auth">
        Log In
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link menu-category" routerLink="/auth/user/signup" routerLinkActive="active-auth">
        Sign Up
      </a>
    </li>
  </ul>
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
<div *ngIf="isAuthenticated()" class="log-out">
  <div class="row justify-content-center">
    <p>
      Logged in as <span>{{loggedInUsername}}</span>.
      <br />
      Are you sure you want to log out?
    </p>
  </div>
  <div class="row justify-content-center">
    <div class="text-center">
      <button type="button" (click)="onLogOut()" class="btn">Yes, log out now</button>
      <div>
        <p><a routerLink="/">cancel</a></p>
      </div>
    </div>
  </div>
</div>