<div style="min-height: 500px;">

  <ul class="nav justify-content-center menu-bar">
    <li class="nav-item">
      <a class="nav-link menu-category" routerLink="/auth/user/login" routerLinkActive="active-auth">
        Log In
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link menu-category" routerLink="/auth/user/signup" routerLinkActive="active-auth">
        Sign Up
      </a>
    </li>
  </ul>
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
